<%- include('header') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <h2>Accueil</h2>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
          </div>
        </div>
        <hr>

      </div>
    </main>
    <!-- page-content" -->
  </div>
<%- include('footer') %>
