<%- include('header') %>
<!-- sidebar-wrapper  -->
<main class="page-content">
  <main class="container-fluid">
    <!-- Page Content  -->
    <div style="margin: 0px" class="equal-height-container" id="container">
      <div class="col-md-12 first">
        <div class="first-a" id="dark">
          <p></p>
        </div>

        <!-- Table Box -->
        <div class="first-b">
          <!-- Table Left -->
          <div class="first-b-1" id="dark"></div>

          <!-- Table Right -->
          <div class="first-b-2" id="dark"></div>
        </div>
      </div>
    </div>
  </main>
</main>
