<%- include('header') %>

<div class="container mt-4">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <p>
          Bienvenue sur le site des sauveteurs du dunkerquois. Ce site rend hommage aux femmes,
          hommes et enfants qui ont réalisé des actes de sauvetages en milieu aquatique. Ces
          sauveteurs, habitants du dunkerquois (de Bray-Dunes à Grand-Fort-Philippe), ont participé
          à plus de 900 sauvetages en mer et plus de 1100 sauvetages individuels. Œuvrant avec
          courage, abnégation et souvent au mépris du risque ils méritent amplement que leurs actes
          soient pérennisés.
        </p>
        <hr />
        <p class="card-text">From Aristide Berges</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <p>
          Bienvenue sur le site des sauveteurs du dunkerquois. Ce site rend hommage aux femmes,
          hommes et enfants qui ont réalisé des actes de sauvetages en milieu aquatique. Ces
          sauveteurs, habitants du dunkerquois (de Bray-Dunes à Grand-Fort-Philippe), ont participé
          à plus de 900 sauvetages en mer et plus de 1100 sauvetages individuels. Œuvrant avec
          courage, abnégation et souvent au mépris du risque ils méritent amplement que leurs actes
          soient pérennisés.
        </p>
        <hr />
        <p class="card-text">From Aristide Berges</p>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
