<%- include('header') %>
<!-- sidebar-wrapper  -->
<main class="page-content">

     <!-- Page Content  -->
     <div style="margin: 0px;" class="equal-height-container" id="container">
      <div class="col-md-12 first">
        <img style="filter: brightness(0.6)" src="images/banner.png" alt="" />
      <div class="col-md-12 first">
        <!-- Chart.JS Box -->
        <div class="first-a" id="container">
          <p>s</p>
        </div>
        <div class="first-a" id="container">
          <p>s</p>
        </div>
      </div>
</main>
<%- include('footer') %>
