<%- include('header') %>
<!-- sidebar-wrapper  -->
<main class="page-content">
  <!-- Page Content  -->
  <div style="margin: 0px" class="equal-height-container" id="container">
    <div class="col-md-12 first">
      <div class="first-a" id="container">
        <p>s</p>
      </div>

      <!-- Table Box -->
      <div class="first-b">
        <!-- Table Left -->
        <div class="first-b-1" id="container"></div>

        <!-- Table Right -->
        <div class="first-b-2" id="container"></div>
      </div>
    </div>
  </div>
</main>
