<main class="page-content">
    <div class="container-fluid">
        <div class="container" style="margin-top: 200px;">
            <footer>
                <hr>
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                    Open source 2021 :
                    <a class="text-reset fw-bold">spaSIOnautes</a>
                  </div>
            </footer>
        </div>
    </div>
</main>

</body>

</html>