<footer class="container">
  <hr>
  <p class="float-end"><a href="#">Remonter</a></p>
  <p>&copy; 2021 LAB
    <span style="text-align: center;"><a href="#">Confidentialités</a> &middot; <a href="#">Terms</a></span>
  </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>