<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Accueil</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/sb-1.2.2/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>

  <script src="/js/script.js" async></script>
  <script src="/js/datatable.js" async></script>
</head>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="/">Sauveteur du Dunkerquois</a>
        </div>
        <div class="sidebar-header">
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-ship"></i>
                  <span>Les bateaux</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_bateaux">Liste des bateaux
                      </a>
                    </li>
                    <li>
                      <a href="ajouter_bateau">Ajouter un bateau</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-user"></i>
                  <span>Les sauveteurs</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_sauveteurs">Liste des sauveteurs

                      </a>
                    </li>
                    <li>
                      <a href="ajouter_sauveteur">Ajouter un sauveteur</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-users"></i>
                  <span>Les équipes</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_equipes">Liste des équipes

                      </a>
                    </li>
                    <li>
                      <a href="ajouter_equipe">Ajouter une équipe</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-anchor"></i>
                  <span>Les sauvetages</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_sauvetages">Liste des sauvetages</a>
                    </li>
                    <li>
                      <a href="ajouter_sauvetage">Ajouter un sauvetage</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-medkit"></i>
                  <span>Les naufragés</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_naufrages">Liste des naufragés</a>
                    </li>
                    <li>
                      <a href="liste_victime">Liste des victimes</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="header-menu">
                <span>Extra</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-trademark"></i>
                  <span>Les marques</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_marques">Liste des marques
                      </a>
                    </li>
                    <li>
                      <a href="ajouter_marque">Ajouter une marque</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-tags"></i>
                  <span>Les modeles</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="liste_modeles">Liste des modeles
                      </a>
                    </li>
                    <li>
                      <a href="ajouter_modele">Ajouter un modele</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">
                  <label class="switch">
                    <input type="checkbox" onclick="darkMode()">
                    <span class="slider round"></span>
                  </label>
                  <span>Dark Mode</span>
                </a>
                <script>
                  (function() {
                    let onpageLoad = localStorage.getItem("theme") || "";
                    let element = document.body;
                    element.classList.add(onpageLoad);
                    document.getElementById("theme").textContent =
                      localStorage.getItem("theme") || "";
                  })();

                  function darkMode() {
                    let element = document.body;
                    let input = document.input;
                    element.classList.toggle("dark-mode-back");
                    element.classList.toggle("checked");

                    let theme = localStorage.getItem("theme");
                    if (theme && theme === "dark-mode-back") {
                      localStorage.setItem("theme", "");
                    } else {
                      localStorage.setItem("theme", "dark-mode-back");
                    }

                    document.getElementById("theme").textContent = localStorage.getItem("theme");
                  }
                </script>
                <div id="theme" style="display:none;"></div>
              </li>
            </ul>
          </div>
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
    </nav>